[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]
Flask = "*"
Flask-Migrate = "*"
flask-sqlalchemy = "*"
Werkzeug = "*"
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
flask-marshmallow ="*"
marshmallow = "*"
pytest = "*"
